
<div hidden class="blog-num">{{blogOne.id}}</div>
<p>{{blogOne.name}}</p>
<p>
    {{blogOne.content}}
    
</p>
<button id="delete-post-button">Delete Post</button>
        <p>
        <form class="form under-comment-form">
            <div class="form-group">
        <h5>leave a comment</h5>
        <input type="text" class="blog-comment"></input>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </p>


     <script src="/js/postCRUD.js"></script>