
<div hidden class="blog-num">{{blogOne.id}}</div>
<p></p><textarea id="blog-title">{{blogOne.name}}</textarea></p>
<p>
    <textarea id="blog-content">{{blogOne.content}}</textarea>
    
</p>
<button id="update-post-button" class="btn btn-primary">Update Post</button>
<button id="delete-post-button" class="btn btn-primary">Delete Post</button>
        <p>
        <form class="form under-comment-form">
            <div class="form-group">
        <h5>leave a comment</h5>
        <input type="text" class="blog-comment"></input>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </p>


<script src="/js/postCRUD.js"></script>